.container-fluid {
  padding-left: 15px;
}

.form-container {
  margin-left: 0 !important;
  margin-right: auto !important;
  padding-left: 0 !important;
}

@media (max-width: 767.98px) {
  .form-container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .form-container {
    width: 80% !important;
    max-width: 80% !important;
    flex: 0 0 80% !important;
    margin-left: 20px !important;
  }
}

@media (min-width: 992px) {
  .form-container {
    width: 50% !important;
    max-width: 50% !important;
    flex: 0 0 50% !important;
    margin-left: 20px !important;
  }
}

.left-aligned-heading {
  text-align: center;
}

@media (min-width: 768px) {
  .left-aligned-heading {
    text-align: left !important;
  }
}
